<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>SAJIVR</display-name>
	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	    <welcome-file>index.htm</welcome-file>
	    <welcome-file>index.jsp</welcome-file>
	    <welcome-file>default.html</welcome-file>
	    <welcome-file>default.htm</welcome-file>
	    <welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>as400_dbtype</param-name>
		<param-value>DB400</param-value>
	</context-param>	
	<context-param>
		<param-name>as400_dbname</param-name>
		<param-value>TRSLIB</param-value>
	</context-param>	
	<context-param>
		<param-name>as400_host</param-name>
		<param-value>portcomp.pcs.net</param-value>
	</context-param>
	<context-param>
		<param-name>as400_timeout</param-name>
		<param-value>60</param-value>
	</context-param>
	<context-param>
		<param-name>as400_username</param-name>
		<param-value>pcs</param-value>
	</context-param>
	<context-param>
		<param-name>as400_password</param-name>
		<param-value>pcs</param-value>
	</context-param>
	<context-param>
		<param-name>sms_dbtype</param-name>
		<param-value>MSSQL</param-value>
	</context-param>
	<context-param>
		<param-name>sms_dbusr</param-name>
		<param-value>sms_usr</param-value>
	</context-param>
		<context-param>
		<param-name>sms_dbpwd</param-name>
		<param-value>PCS$equ3l</param-value>
	</context-param>
		<context-param>
		<param-name>sms_dbname</param-name>
		<param-value>SMS</param-value>
	</context-param>
	<context-param>
		<param-name>sms_dbhostname</param-name>
		<param-value>ADVIVR02</param-value>
	</context-param>			
	<context-param>
		<param-name>sms_username</param-name>
		<param-value>shippingja</param-value>
	</context-param>
	<context-param>
		<param-name>sms_password</param-name>
		<param-value>Digi1234</param-value>
	</context-param>	
	<context-param>
		<param-name>sms_on</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>sms_workonly</param-name>
		<param-value>true</param-value>
	</context-param>			
</web-app>